@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

:root {
  --btn-color-1: black;
  --btn-color-2: white;
  --background-lightmode: white;
  --text-color-lightmode: black;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 2.5rem;
}

.App {
  text-align: center;
  color: var(--text-color-lightmode);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
}

h5 {
  margin: 0;
}

p { 
  margin: 0.5em;
}

.App-header {
  /* background-color: var(--background-lightmode);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5rem; */
  display: flex;
}
.App-body {
  display: flex;
}

.muteVolume { 
  cursor: pointer;
}

button {
  outline: none;
  border: 1px solid var(--btn-color-1);
  padding: 10px 20px;
  font-size: 2.5rem;
  background: var(--btn-color-1);
  color: var(--btn-color-2);
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 250px;
}

button.action {
  margin: 10px auto;
}

button:hover {
  background: var(--btn-color-2);
  color: var(--btn-color-1);
  transform: translate(1px, 1px);
}

.announcement {
  margin: 20px auto;
  width: 400px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
}

.announcement button {
  width: 100%;
  margin-top: 5px;
}

.countdown {
  font-size: 1.8rem;
  transform: rotate(-12deg);
}

.countdownClock {
  font-size: 3rem;
  font-weight: bold;
}


/*Test mode*/
.testMode {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: yellow;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
}

.testMode button {
  transform: rotate(90deg);
}