@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

:root {
  --btn-color-1: black;
  --btn-color-2: white;
  --background-lightmode: white;
  --text-color-lightmode: black;
  font-size: 62.5%;
  --keyboard: hsl(300, 100%, 16%);
  --keyboard-shadow: hsla(19, 50%, 66%, 0.2);
  --keyboard-border: hsl(20, 91%, 5%);
  --black-10: hsla(0, 0%, 0%, 0.1);
  --black-20: hsla(0, 0%, 0%, 0.2);
  --black-30: hsla(0, 0%, 0%, 0.3);
  --black-50: hsla(0, 0%, 0%, 0.5);
  --black-60: hsla(0, 0%, 0%, 0.6);
  --black-100: hsla(0, 0%, 0%, 1);
  --white-20: hsla(0, 0%, 100%, 0.2);
  --white-50: hsla(0, 0%, 100%, 0.5);
  --white-80: hsla(0, 0%, 100%, 0.8);
  --white-100: hsla(0, 0%, 100%, 1);
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 2.5rem;
}

.App {
  text-align: center;
  color: var(--text-color-lightmode);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: 200;
}

h5 {
  margin: 0;
}

p { 
  margin: 0.5em;
}

.muteVolume { 
  cursor: pointer;
}

button {
  outline: none;
  border: 1px solid var(--btn-color-1);
  padding: 10px 20px;
  font-size: 2.5rem;
  background: var(--btn-color-1);
  color: var(--btn-color-2);
  cursor: pointer;
  transition: 200ms ease-in-out;
  width: 250px;
}

button:hover {
  background: var(--btn-color-2);
  color: var(--btn-color-1);
  transform: translate(1px, 1px);
}

.announcement {
  margin: 20px auto 60px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
}

.announcement button {
  width: 100%;
  margin-top: 5px;
}

/*Test mode*/
.testMode {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%) rotate(-90deg);
  background: yellow;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-start;
}

.testMode button {
  transform: rotate(90deg);
}

button[type="submit"] svg {
  position: relative;
  top: 0px;
}

.discordIcon {
  color: var(--wordle-background-color-darkmode);
  font-size: 1.2em;
  position: relative;
  left: 2px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--navbar-bg);
  color: var(--background-lightmode);
  text-align: center;
  z-index: 10;
}

li.activeWhite {
  border-top: 1px solid hsl(0, 0%, 47%);
  border-left: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  box-shadow: 2px 0 3px var(--black-10) inset,
    -5px 5px 20px var(--black-20) inset, 0 0 3px var(--black-20);
  background: linear-gradient(to bottom, white 0%, hsl(0, 0%, 91%) 100%);
  outline: none;
}

li.activeBlack {
  box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -2px 2px 3px var(--black-60) inset, 0 1px 2px var(--black-50);
  background: linear-gradient(to right,
      hsl(0, 0%, 27%) 0%,
      hsl(0, 0%, 13%) 100%);
  outline: none;
}

@media (min-width: 600px) {
  .announcement {
    width: 400px;
    margin-bottom: 5em;
  }
  footer {
    background-color: white;
    color: black;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }
  footer svg {
    margin: 1em;
  }
}

