:root {
  --btn-color-1: black;
  --btn-color-2: white;
  --background-lightmode: white;
  --text-color-lightmode: black;
}

.App {
  text-align: center;
  color: var(--text-color-lightmode);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h1 {
  margin: 0.5em 0 0 0;
}

p { 
  margin: 0.5em 0;
}

.App-header {
  background-color: var(--background-lightmode);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.muteVolume { 
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  padding: 10px 20px;
  font-size: 0.8em;
  margin: 5px;
  background: var(--btn-color-1);
  color: var(--btn-color-2);
  cursor: pointer;
  transition: 300ms ease-in-out;
}

button:hover {
  background: var(--btn-color-2);
  color: var(--btn-color-1);
  transform: translate(2px, 2px);
}

.error {
  color: red;
}
