:root {
  --wordle-correct-color: #538d4e;
  --wordle-misplaced-color: #c9b458;
  --wordle-answer-text-color: white;
  --wordle-answer-incorrect: #787c7e;
  --wordle-background-color-lightmode: white;
  --wordle-background-color-selected-lightmode: black;
  --wordle-text-color-lightmode: black;
  --wordle-text-color-lightmode-selected: white;
  --wordle-error: rgb(157, 14, 14);
  --tile-border-color: #d3d6da;
  --navbar-bg: #573dee;
}
form .row {
  display: flex;
  justify-content: center;
}

button.action {
  margin: 0px auto 10px;
}

button.submit {
  margin: 10px auto;
}

.board input {
  width: 3.1rem;
  height: 3.1rem;
  font-size: 2.5rem;
  text-align: center;
  border: 2px solid var(--tile-border-color);
  margin: 5px;
  pointer-events: none;
  font-weight: bold;
  padding: 4px;
}
.board input:focus {
  border: 2px solid black;
}

input.correct {
  background: var(--wordle-correct-color);
  color: var(--wordle-answer-text-color);
  border: 2px solid var(--wordle-correct-color);
}

input.misplaced {
  background: var(--wordle-misplaced-color);
  color: var(--wordle-answer-text-color);
  border: 2px solid var(--wordle-misplaced-color);
}

input.incorrect {
  color: var(--wordle-answer-text-color);
  background: var(--wordle-answer-incorrect);
  border: 2px solid var(--wordle-answer-incorrect);
}

.answerButton {
  background-color: var(--background-lightmode);
  border: 1px solid var(--wordle-background-color-selected-lightmode);
  color: var(--text-color-lightmode);
}

div.answerBox {
  display: block;
}

button.playButton {
  width: 4.27rem;
  height: 4.27rem;
  position: relative;
  top: 5px;
  padding: 0;
  font-size: 1.2rem;
}

button.playButton svg {
  position: relative;
  width: 1.3rem;
  font-size: 3rem;
}

.iconMusic {
  position: relative;
  top: 4px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.error {
  animation: shake 0.3s;
  animation-iteration-count: 1;
  color: var(--wordle-error);
  max-width: 49rem;
  margin: 0.25em auto 1.2em;
  padding: 0 
}
select.difficultyMode {
  padding: 10px;
  margin-bottom: 5em;
}

@media (min-width: 600px) {
  .board input {
    width: 4rem;
    height: 4rem;
  }
  button.playButton {
    margin-left: 5px;
    width: 5.1rem;
    height: 5.1rem;
  }
  button.playButton svg {
    width: 2rem;
  }
  select.difficultyMode {
    margin-bottom: 3em;
  }
  

}



