:root {
  --wordle-correct-color: #538d4e;
  --wordle-misplaced-color: #c9b458;
  --wordle-answer-text-color: white;
  --wordle-answer-incorrect: #787c7e;
  --wordle-background-color-lightmode: white;
  --wordle-background-color-selected-lightmode: black;
  --wordle-text-color-lightmode: black;
  --wordle-text-color-lightmode-selected: white;
  --tile-border-color: #d3d6da;
}

.board input {
  width: 45px;
  height: 45px;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  border: 2px solid var(--tile-border-color);
  margin: 5px;
  pointer-events: none;
  font-weight: bold;
  padding: 4px;
}
.board input:focus {
  border: 2px solid black;
}

.error {
  color: red;
}

input.correct {
  background: var(--wordle-correct-color);
  color: var(--wordle-answer-text-color);
  border: 2px solid var(--wordle-correct-color);
}

input.misplaced {
  background: var(--wordle-misplaced-color);
  color: var(--wordle-answer-text-color);
  border: 2px solid var(--wordle-misplaced-color);
}

input.incorrect {
  color: var(--wordle-answer-text-color);
  background: var(--wordle-answer-incorrect);
  border: 2px solid var(--wordle-answer-incorrect);
}

.answerButton {
  background-color: var(--background-lightmode);
  border: 1px solid var(--wordle-background-color-selected-lightmode);
  color: var(--text-color-lightmode);
}

div.answerBox {
  display: block;
}

button.playButton {
  width: 56.6px;
  height: 56.6px;
  position: relative;
  top: -1.8px;
}

button.playButton svg {
  position: relative;
}
