:root {
  --wordle-correct-color: #538d4e;
  --wordle-misplaced-color: #c9b458;
  --wordle-answer-text-color: white;
  --wordle-answer-incorrect: #787c7e;
  --wordle-background-color-lightmode: white;
  --wordle-background-color-selected-lightmode: black;
  --wordle-text-color-lightmode: black;
  --wordle-text-color-lightmode-selected: white;
  --tile-border-color: #d3d6da;
}

.board {
  margin-top: 2em;
}
.board div {
  display: flex;
}
.board input {
  width: 2em;
  height: 2em;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  border: 2px solid var(--tile-border-color);
  margin: 5px;
  pointer-events: none;
  font-weight: bold;
}
.board input:focus {
  border: 2px solid black;
}

.error {
  color: red;
}

input.correct {
  background: var(--wordle-correct-color);
  color: var(--wordle-answer-text-color);
  border: 2px solid var(--wordle-correct-color);
}

input.misplaced {
  background: var(--wordle-misplaced-color);
  color: var(--wordle-answer-text-color);
  border: 2px solid var(--wordle-misplaced-color);
}

input.incorrect {
  color: var(--wordle-answer-text-color);
  background: var(--wordle-answer-incorrect);
  border: 2px solid var(--wordle-answer-incorrect);
}
.modal {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  padding: 16px 20px;
  background-color: var(--wordle-background-color-lightmode);
  color: var(--wordle-text-color-lightmode);
  font-size: 2.2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  z-index: 10;
}

.modalXClose {
  align-self: flex-end;
  background-color: var(--wordle-background-color-lightmode);
  color: var(--wordle-text-color-lightmode);
  font-size: 1.2rem;
  transition: none;
}

.modalXClose:hover {
  background-color: var(--wordle-background-color-selected-lightmode);
  color: var(--wordle-text-color-lightmode-selected);
  font-weight: bold;
  transform: none;
}

.modalCloseBtn {
  align-self: center;
  border: 3px solid var(--wordle-text-color-lightmode);
  background-color: var(--wordle-background-color-lightmode);
  color: var(--wordle-text-color-lightmode);
  font-size: 1.4rem;
  font-weight: bold;
  width: 25%;
  text-align: center;
}

.modalCloseBtn:hover {
  border: 3px solid var(--wordle-text-color-lightmode);
  background-color: var(--wordle-background-color-selected-lightmode);
  color: var(--wordle-text-color-lightmode-selected);
  font-weight: bold;
}

.modalOverlay {
  z-index: 5;
  opacity: 0.35;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.answerButton {
  background-color: var(--background-lightmode);
  border: 1px solid var(--wordle-background-color-selected-lightmode);
  color: var(--text-color-lightmode);
}

div.answerBox {
  display: block;
}
