.navbar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 153, 0, 0.9);
    background: var(--wordle-correct-color);
    color: white;
    padding: 15px 30px;
}
.navbar svg {
    cursor: pointer;
}
