/*Piano*/
.pianoNew {
  display: flex;
  justify-content: center;
}

.white,
.black {
  position: relative;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0.5rem 0;
  user-select: none;
  cursor: pointer;
  font-size: 1.7rem;
}

#keyboard li:first-child {
  border-radius: 5px 0 5px 5px;
}

#keyboard li:last-child {
  border-radius: 0 5px 5px 5px;
}

.white {
  height: 13.5rem;
  width: 6rem;
  z-index: 1;
  border-left: 1px solid hsl(0, 0%, 73%);
  border-bottom: 1px solid hsl(0, 0%, 73%);
  border-radius: 0 0 5px 5px;
  box-shadow: -1px 0 0 var(--white-80) inset, 0 0 5px hsl(0, 0%, 80%) inset,
    0 0 3px var(--black-20);
  background: linear-gradient(to bottom, hsl(0, 0%, 93%) 0%, white 100%);
  color: var(--black-100);
}

.black {
  height: 8rem;
  width: 4rem;
  margin: 0 0 0 -2rem;
  z-index: 2;
  border: 1px solid black;
  border-radius: 0 0 3px 3px;
  box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -5px 2px 3px var(--black-60) inset, 0 2px 4px var(--black-50);
  background: linear-gradient(45deg, hsl(0, 0%, 13%) 0%, hsl(0, 0%, 33%) 100%);
  color: var(--white-100);
}

/* .white:active {
  border-top: 1px solid hsl(0, 0%, 47%);
  border-left: 1px solid hsl(0, 0%, 60%);
  border-bottom: 1px solid hsl(0, 0%, 60%);
  box-shadow: 2px 0 3px var(--black-10) inset,
    -5px 5px 20px var(--black-20) inset, 0 0 3px var(--black-20);
  background: linear-gradient(to bottom, white 0%, hsl(0, 0%, 91%) 100%);
  outline: none;
}

.black:active {
  box-shadow: -1px -1px 2px var(--white-20) inset,
    0 -2px 2px 3px var(--black-60) inset, 0 1px 2px var(--black-50);
  background: linear-gradient(to right,
      hsl(0, 0%, 27%) 0%,
      hsl(0, 0%, 13%) 100%);
  outline: none;
} */

.offset {
  margin: 0 0 0 -2.2rem;
}

.keyboard {
  height: 15.25rem;
  /* width: 42rem; */
  margin: 1rem auto 0rem auto;
  padding: 0rem 0rem 2rem 0rem;
  position: relative;
  /* border: 1px solid var(--keyboard-border);
  border-radius: 1rem;
  background-color: var(--keyboard);
  box-shadow: 0 0 50px var(--black-50) inset, 0 1px var(--keyboard-shadow) inset,
    0 5px 15px var(--black-50); */
}

.backspace span {
  transform: rotate(-90deg);
  position: absolute;
  top: 40%;
}

.tinyPianos {
  display: flex;
  justify-content: center;
  position: relative;
  right: 4rem;
}

.highlight {
  width: 8.35rem;
  background: var(--navbar-bg);
  opacity: 0.5;
  z-index: 2;
  position: relative;
  left: 16.7rem;
  transition: transform 0.5s;
  border-radius: 0 0 3px 3px;
}

.octave3, .octave2 {
  transform: translateX(-83px);
}

.octave4 {
  transform: translateX(0px);
}

.octave5, .octave6 {
  transform: translateX(84px);
}

.octaveText {
  position: relative;
  top: -40px;
  font-size: 1.5rem;
  font-weight: bold;
}

.chooseInstructions {
  font-size: 1.5rem;
  color: var(--wordle-answer-incorrect);
}

@media (max-width: 600px) {
  .keyboard {
    padding: 0 1px;
  }

  .white {
    width: 4.35rem;
    height: 14rem;
  }

  .black {
    height: 7rem;
  }

  .keyBindings {
    margin: 3em auto;
  }
  .octaveText {
    font-size: 1.8rem;
  }
}

.keyBindings {
  color: var(--wordle-answer-incorrect);
  font-size: 1.5rem;
  display: none;
}

.keyBindings .shortcutsIcon {
  font-size: 2.2rem;
  position: relative;
  top: 5px;
}

.keyBindings .shortcutsTitle {
  cursor: pointer;
  text-decoration: underline dotted;
}

@media (min-width: 600px) {
  .keyBindings {
    display: block;
    padding-bottom: 1em;
  }
}


/* Safari 7.1+ */
_::-webkit-full-page-media,
_:future,
:root .highlight {
  /* Safari-specific styles go here */
  height: 4.1rem;
  background: var(--navbar-bg);
}

_::-webkit-full-page-media,
_:future,
:root .octaveText {
  /* Safari-specific styles go here */
  font-size: 1.6rem;
}