.piano ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
.piano ul li {
  width: 1em;
  border: 1px solid black;
  background: linear-gradient(to bottom, #eee 0%, #fff 100%);
  color: black;
  height: 5em;
  padding: 12px;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  box-shadow: -1px 0 0 rgb(255 255 255 / 80%) inset, 0 0 5px #ccc inset,
    0 0 3px rgb(0 0 0 / 20%);
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.piano ul li:active {
  border-top: 1px solid #777;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.1) inset,
    -5px 5px 20px rgba(0, 0, 0, 0.2) inset, 0 0 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #fff 0%, #e9e9e9 100%);
}
